
*{
    margin: 0;
    border: 0;
  }
  
  .modal{
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .left-side{
    height: 100%;
    width: 100%;
  }

  .modal_child{
    height: 20%;
    width: 30%;
    background-color: rgb(107, 103, 103);
  }
  
  .main{
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .header-parent{
    display: flex;
    width: 100%;
    height: 10%;
    /* justify-content: space-around; */
    align-items: center;
    border-bottom: 1px solid #dadada;
    margin-bottom: 1%;
  }
  .header-title{
    color: #454545;
    font-size: 32px;
    font-weight: 600;
    margin-left: 3%;
    width: 30%;
  }
  .search-input-div{
    margin-right: 10%;
    margin-left: 15%;
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .search-input-div2{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
  }
  .search-input{
    height: 50%;
    width: 100%;
    background-color: #F2F2F2;
  }

  .search-input:focus{
    outline: none;
  }
  
  .user_profile-div{
    display: flex;
    align-items: center;
    width: 20%;
  }
  .profile-image{
    width: 30%;
  }
  
  .profile-flex >:first-child{
    font-size: 16px;
    font-weight: 600;
  }
  .profile-flex >:nth-child(2){
    font-size: 14px;
    font-weight: lighter;
  }
  .form-flex{
    display: flex;
    background-color: #F2F2F2;
    height: 50%;
    width: 25%;
    justify-content: center;
    align-items: center;
  }
  .bc{
    background-color: #F2F2F2;
    height: 51%;
    width: 20%;
  }

  .search-button{
    cursor: pointer;
  }

  .dropdown {
    position:fixed;
    width: 28.5%;
    top: 55px;
    left: 790px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 3px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .search-input-div{
    display: flex;
    flex-direction: column;
  }
